# Python
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__
**/**/__pycache__

# Virtual environments
venv/
.venv/
.env/

# Outputs
outputs/
cases/

# Logs
*.log
*.evtx


# OS
.DS_Store

#plaso zipped packets
*.log.gz